{% comment %} <div class="relative w-1/2 mb-4 md:mb-0">
                <div class="flex space-x-2">
                    <!-- Preview Button -->
                    <button id="preview-btn" class="flex items-center border border-gray-300 rounded px-4 py-2 bg-white hover:bg-gray-100">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
                            <path d="M9.05 2.43a.75.75 0 011.9 0l.21.88c.15.6.78 1.01 1.41.9l.89-.13a.75.75 0 01.87.88l-.13.89c-.11.63.3 1.26.9 1.41l.88.21a.75.75 0 010 1.9l-.88.21c-.6.15-1.01.78-.9 1.41l-.13.89a.75.75 0 01-.88.87l-.89-.13c-.63-.11-1.26.3-1.41.9l-.21.88z"/>
                            <path d="M12.9 12.9a5 5 0 11-7.8-7.8 5 5 0 017.8 7.8z"/>
                        </svg>
                        Preview
                    </button>
                    <!-- Sort Button -->
                    <button id="sort-btn" class="flex items-center border border-gray-300 rounded px-4 py-2 bg-white hover:bg-gray-100">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM4 15a1 1 0 100 2h12a1 1 0 100-2H4z" clip-rule="evenodd"/>
                        </svg>
                        Sort
                    </button>
                    <!-- Filter Button -->
                    <button id="filter-btn" class="flex items-center border border-gray-300 rounded px-4 py-2 bg-white hover:bg-gray-100">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M6 4a1 1 0 00-.894.553l-4 8A1 1 0 002 14h16a1 1 0 00.894-1.447l-4-8A1 1 0 0014 4H6zM4.618 12L8 5.618 11.382 12H4.618zM5.5 14a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM11 14a1.5 1.5 0 103 0 1.5 1.5 0 00-3 0z" clip-rule="evenodd"/>
                        </svg>
                        Filter
                    </button>
                </div>
            </div> {% endcomment %}